<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <meta http-equiv="X-UA-compatilble" content="ie=edge">
    <title> HOME </title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.0/css/all.min.css">
      
</head>

<body>
    <div class="header">
        <header>
            <div class="links">
                <ul class="list">
                    <a href="#" target="_blank">
                        <li class="list-item">FAQs</li>
                    </a>
                    <a href="#" target="_blank">
                        <li class="list-item">BLOG</li>
                    </a>
                    <a href="#" target="_blank">
                        <li class="list-item">YOUTUBE</li>
                    </a>
                    <a href="#" target="_blank">
                        <li class="list-item">GALLERY</li>
                    </a>
                    <ul class="user">
                        <a href="Access.html" target="_blank">
                            <li class="user-btn">LOGIN</li>
                        </a>
                        <a href="Access.html" target="_blank">
                            <li class="user-btn">REGISTER</li>
                        </a>
                    </ul>
                </ul>
            </div>

            <!-- Logo starts here -->
            <div>
                <p id="logo"> ＤΞΛＤ ＨΛＣＫＳ </p>
                <!--Navigation Bar starts here-->
                <ul class="navbar">
                    <a href="index.html" target="_blank">
                        <li class="nav-item"> <i class="fas fa-home"></i> HOME </li>
                    </a>
                    <a href="#" target="_blank">
                        <li class="nav-item"> <i class="fas fa-users"></i> ABOUT US </li>
                    </a>
                    <a href="#" target="_blank">
                        <li class="nav-item"> <i class="fab fa-cloudsmith"></i> CONTACT US </li>
                    </a>
                    <a href="#" target="_blank">
                        <li class="nav-item"> <i class="fas fa-book-open"></i> COURSES </li>
                    </a>

                    <!-- User profile and Shopping Cart-->
                    <ul class="user-icon">
                        <a href="Access.html" target="_blank">
                            <li class="icon"> <i class="fas fa-user"></i> </li>
                        </a>
                        <a href="#" target="_blank">
                            <li class="icon"> <i class="fas fa-shopping-cart"></i> </li>
                        </a>
                    </ul>
                </ul>
                <centre>
                    <hr class="rule">
            </div>
            </centre>
        </header>
    </div>

    <!-- Access Module Starts Here -->

    <div class="nav-btn">
        <a href="Access.html" target="_blank"> <button class="btn"> Login </button></a>
        <a href="Access.html" target="_blank"> <button class="btn"> Register </button></a>
        <a href="Faculty.html" target="_blank"> <button class="btn"> Partner With Us </button></a>
    </div>

    <!-- SLiding scroll bar starts here -->
    <div class="slide-container">
        <div class="wrapper">
            <div class="slide-item"> <a href="#" target="_blank" style="text-decoration: none; color: black;"> HTML </a>
            </div>
            <div class="slide-item"> <a href="#" target="_blank" style="text-decoration: none; color: black;"> C </a>
            </div>
            <div class="slide-item"> <a href="#" target="_blank" style="text-decoration: none; color: black;"> C++ </a>
            </div>
            <div class="slide-item"> <a href="#" target="_blank" style="text-decoration: none; color: black;"> SQL </a>
            </div>
            <div class="slide-item"> <a href="#" target="_blank" style="text-decoration: none; color: black;"> JAVA </a>
            </div>
            <div class="slide-item"> <a href="#" target="_blank" style="text-decoration: none; color: black;"> Python
                </a></div>
            <div class="slide-item"> <a href="#" target="_blank" style="text-decoration: none; color: black;"> C# </a>
            </div>
        </div>
    </div>

    <!-- Searchbar starts here-->
    <div class="search">
        <form action="#">
            <input type="text" placeholder="Search here" name="search">
            <button> <i class="fas fa-search" style="font-size: 18px;"></i> </button>
        </form>
    </div>

    <br>
    <br>

    <!--Landing page content starts here-->
    <div class="container">

        <div class="tiles">
            <a href="#" target="_blank" style="text-decoration: none;">
                <h1>Computer Fundamentals</h1>
                <img src="Images/Courses/course1.jpg">
            </a>
        </div>

        <div class="tiles">
            <a href="#" target="_blank" style="text-decoration: none;">
                <h1>Web Devlopment</h1>
                <img src="Images/Courses/course2.jpg">
            </a>
        </div>

        <div class="tiles">
            <a href="#" target="_blank" style="text-decoration: none;">
                <h1> C Programming</h1>
                <img src="Images/Courses/course3.jpg">
            </a>
        </div>

        <div class="tiles">
            <a href="#" target="_blank" style="text-decoration: none;">
                <h1>Web Designing</h1>
                <img src="Images/Courses/course4.jpg">
            </a>
        </div>

        <div class="tiles">
            <a href="#" target="_blank" style="text-decoration: none;">
                <h1>Desk Organisation</h1>
                <img src="Images/Courses/course5.jpg">
            </a>
        </div>

        <div class="tiles">
            <a href="#" target="_blank" style="text-decoration: none;">
                <h1>Data Structures</h1>
                <img src="Images/Courses/course6.jpg">
            </a>
        </div>

        <div class="tiles">
            <a href="#" target="_blank" style="text-decoration: none;">
                <h1>Digital Electronics</h1>
                <img src="Images/Courses/course7.jpg">
            </a>
        </div>

        <div class="tiles">
            <a href="#" target="_blank" style="text-decoration: none;">
                <h1>Ethical Hacking</h1>
                <img src="Images/Courses/course8.jpg">
            </a>
        </div>

        <div class="tiles">
            <a href="#" target="_blank" style="text-decoration: none;">
                <h1>Miscellaneous</h1>
                <img src="Images/Courses/course9.jpg">
            </a>
        </div>

        <div class="tiles">
            <a href="#" target="_blank" style="text-decoration: none;">
                <h1>Cybersecurity</h1>
                <img src="Images/Courses/course10.jpg">
            </a>
        </div>

        <div class="tiles">
            <a href="#" target="_blank" style="text-decoration: none;">
                <h1>Graphics Designing</h1>
                <img src="Images/Courses/course11.jpg">
            </a>
        </div>

        <div class="tiles">
            <a href="#" target="_blank" style="text-decoration: none;">
                <h1>Crypto Currency</h1>
                <img src="Images/Courses/course12.jpg">
            </a>
        </div>

        <div class="tiles">
            <a href="#" target="_blank" style="text-decoration: none;">
                <h1>Application development</h1>
                <img src="Images/Courses/course13.jpg">
            </a>
        </div>

        <div class="tiles">
            <a href="#" target="_blank" style="text-decoration: none;">
                <h1>Photography</h1>
                <img src="Images/Courses/course14.jpg">
            </a>
        </div>
    </div>

    <br><br>
    <br><br>
    <br><br>
    <!--footer starts here-->
    <footer>
        <div class="footer">
            <ul class="footer-list1">
                <h2>
                    <li class="footer-item-heading">ＤΞΛＤ ＨΛＣＫＳ</li>
                </h2>
                <a href="#" target="_blank" style="text-decoration: none;">
                    <li class="footer-item">Privacy Policy</li>
                </a>
                <a href="#" target="_blank" style="text-decoration: none;">
                    <li class="footer-item">Terms and Condition</li>
                </a>
                <a href="#" target="_blank" style="text-decoration: none;">
                    <li class="footer-item">About Us</li>
                </a>
                <a href="#" target="_blank" style="text-decoration: none;">
                    <li class="footer-item">Contact Us</li>
                </a>
            </ul>
            <ul class="footer-list2">
                <h2>
                    <li class="footer-item-heading">OUR SERVICES</li>
                </h2>
                <a href="#" target="_blank" style="text-decoration: none;">
                    <li class="footer-item">Computer Hardware</li>
                </a>
                <a href="#" target="_blank" style="text-decoration: none;">
                    <li class="footer-item">Computer Programming</li>
                </a>
                <a href="#" target="_blank" style="text-decoration: none;">
                    <li class="footer-item">Computer Networks</li>
                </a>
                <a href="#" target="_blank" style="text-decoration: none;">
                    <li class="footer-item">Ethical Hacking</li>
                </a>
            </ul>
            <ul class="footer-list3">
                <h2>
                    <li class="footer-item-heading">FIND US</li>
                </h2>
                <a href="#" target="_blank" style="text-decoration: none;">
                    <li class="footer-item"><i class="fab fa-instagram"></i> </li>
                </a>
                <a href="#" target="_blank" style="text-decoration: none;">
                    <li class="footer-item"><i class="fab fa-telegram"> </i></li>
                </a>
                <a href="#" target="_blank" style="text-decoration: none;">
                    <li class="footer-item"><i class="fab fa-youtube"> </i></li>
                </a>
                <a href="#" target="_blank" style="text-decoration: none;">
                    <li class="footer-item"><i class="fab fa-whatsapp"></i></li>
                </a>
            </ul>
            <div class="forrum">
                <p> Join Us For our Latest forrum</p>
                <form action="#">
                    <input type="text" placeholder="Enter Your Email">
                    <button class="submit" type="submit">Submit</button>
                </form>
            </div>
        </div>
        <p class="copyright"> © Copyright 2021 ＤΞΛＤ ＨΛＣＫＳ </p>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</body>

</html>